{% extends "layouts/home.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Careers {% endblock title %}
<!--  -->
{% block style %} {% endblock style %}
<!--  -->
{% block breadcrumb %}

<!-- breadcrumb content begin -->
<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-1 in-breadcrumb">
        <ul class="uk-breadcrumb uk-float-right">
          <li><a href="/">Home</a></li>
          <li><span>Careers</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb content end -->
{% endblock breadcrumb %} {% block content %}

<!-- section content begin -->
<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center">
      <div class="uk-width-3-4@m">
        <p class="uk-text-large">
          We're a team of mission-driven experts and learners who are committed
          to making security a strength for every startup.
        </p>
        <p>
          We've already helped hundreds of innovative companies succeed at
          becoming trustworthy custodians of sensitive data. And we're just
          getting started.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->
<!-- section content begin -->
<div class="uk-section in-offset-top-20">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center">
      <div class="uk-width-1-1">
        <h2 class="uk-text-center">No Current open positions</h2>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->

{% endblock content %} {% block script %} {% endblock script %}
